html {
	$primary: #ffffff;
	$secundary: #1e1e23;
}

html,
body {
	width: 100%;
	font-size: 16px;
	min-height: 100vh;
	position: relative;
	font-style: normal;
	font-weight: normal;
	overflow-x: hidden;
	background-color: white;
	font-family: "Nunito-Regular", sans-serif;
	-webkit-font-smoothing: antialiased;
	@include xl {
		font-size: 14px;
	}
	@include sm {
		font-size: 12px;
	}
}
