html,
body {
	width: 100%;
	font-size: 16px;
	position: relative;
	overflow-x: hidden;
	background-color: white;
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	@include xl {
		font-size: 14px;
	}
	@include sm {
		font-size: 12px;
	}
}
