html,
body {
	width: 100%;
	font-size: 14px;
	min-height: 100vh;
	position: relative;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;

	@include wide-xl {
		font-size: 12px;
	}

	@include wide-sm {
		font-size: 10px;
	}

	@include mobile {
		font-size: 14px;
	}
}