@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* @font-face {
  font-weight: 100;
  font-family: 'MuseoSans100';
  src: url(../fonts/Museo/MuseoSans-100.otf)format("opentype");
} */

