* {
	margin: 0;
	padding: 0;
	border: none;
	outline: inherit;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

::before,
::after {
	border-width: 0;
	border-style: solid;
	border-color: inherit;
}

p,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
pre,
figure,
blockquote {
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
}

p,
ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img,
svg,
video,
audio,
embed,
canvas,
object,
iframe {
	display: block;
	vertical-align: middle;
}

input,
button,
textarea {
	font-size: 1rem;
	font-weight: 400;
	font-family: 'Arial', sans-serif;
}

button {
	cursor: pointer;
	&:focus {
		outline: inherit;
	}
	&:disabled {
		opacity: 0.75;
		cursor: not-allowed;
	}
}

a {
	color: inherit;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	box-sizing: border-box;
	&:hover,
	&:visited {
		color: inherit;
	}
	&:focus,
	&:active {
		outline: inherit;
	}
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 50px white inset;
}
