* {
	margin: 0;
	padding: 0;
	border: none;
	outline: inherit;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

hr {
	border-top: inherit;
}

p,
ul {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;

	&:hover,
	&:visited {
		color: inherit;
	}

	&:focus,
	&:active {
		outline: inherit;
	}
}

i:hover {
	cursor: pointer;
	transition: .25s ease-in;
}

button {
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;

	&:focus {
		outline: inherit;
	}
}